[submodule "themes/adritian"]
	path = themes/adritian
	url = https://github.com/zetxek/adritian-free-hugo-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
